<div class="container">
  <h1>The Anonymous Blog</h1>

  <div class="create_post">
  <button id="create_post">Create new</button>

  <form action="/post/new_post" method="post">
  <input name="post_title" type="text" placeholder="Title">
  <textarea name="post_text"></textarea>
  <% Tag.all.each_with_index do |tag, i| %>
    <input name=<%="tags[" + tag.tag_text + "]"%> type="checkbox" > <%=tag.tag_text%>
    <% end %>
    <input type="submit" value="Submit">

  </form>
</div>

<h2>Search for Posts</h2>

  <form action="/tags" method="post">
  <% Tag.all.each_with_index do |tag, i| %>
  <input name=<%="tags[" + tag.tag_text + "]"%> type="checkbox" > <%=tag.tag_text%>
  <% end %>
  <br><br>
  <input type="submit" value="Filter">
</form>

<div class="posts">
  <% @posts.each do |post| %>
  <p><a href="/post/<%= post.id%>"><%= post.post_title %></a></p>
<% end %>
  </div>
</div>